$primary: #0B5B7A;
$primary-1: #009DF5;
$primary-dark: #0A142F;
$primary-contrast: #ffffff;

$secondary: #FF8310;
$body-bg: #f4f7fb;
$success: #1e701e;
$danger: #9b2828;

//$dark-text font color
