{% if model %}
   <form method="post" enctype="multipart/form-data" id="exercise_form">
        {% csrf_token %}
        {{form.as_p}}
       <hr>
        {% for key, values in steps.items %}
            {{ values }}
    {% endfor %}
       <hr>
           <div id="steps-form" class="box-steps-wrap">
            <div class="box-steps">
                <div class="box-step">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input class="form-control" type="text" name="" value="">
                    </div>
                    <div class="step-action">
                        <button class="btn-delete"><i class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
            </div>
            <button class="btn-add"><i class="bi bi-plus"></i></button>
        </div>
       <hr>
        <input type="submit" class="btn btn-primary" value="submit"/>
   </form>
{% endif %}

{% block javascript %}
    <script>
 {% comment %}       $(document).on('click', '#test', function(){
            let json_obj = {};
            let i = 1;
            $('.box-step').each(function(){
                json_obj['title'+i] = $(this).find('.form-control').val();
                i++;
            })
            $('#id_steps').val(JSON.stringify(json_obj))
        });{% endcomment %}
    </script>
{% endblock javascript %}
