<form method="post" enctype="multipart/form-data" id="exercise_form">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="steps-form" class="box-steps-wrap">
        <div class="box-steps">
            <div class="box-step">
                <div class="form-group">
                    <label for="">Title</label>
                    <input class="form-control" type="text" name="" value="">
                </div>
                <div class="step-action">
                    <button class="btn-delete"><i class="bi bi-trash-fill"></i></button>
                </div>
            </div>
        </div>
        <button class="btn-add"><i class="bi bi-plus"></i></button>
    </div>
    <hr>
    <input class="btn btn-primary" type="submit" value="submit"/>
</form>
{% comment %}
{% block javascript %}
    <script>
        $(document).on('click','.btn-add', function(e){
            e.preventDefault();
            $('.box-steps').append($('.box-step').first().clone());
        });
        $(document).on('click','.btn-delete', function(e){
            e.preventDefault();
            $(this).closest('.box-step').remove();
        });
    </script>
{% endblock javascript %}{% endcomment %}
