<div class="box-title">Create New Exercise</div>
<form method="post" enctype="multipart/form-data" id="exercise_form_create">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="steps-form" class="box-steps-wrap">
        <div class="box-steps">
            <div class="box-step">
                <div class="form-group">
                    <label for="">Step</label>
                    <input class="form-control form-title" type="text" name="" value="" placeholder="Title">
                    <input class="form-control form-value" type="text" name="" value="" placeholder="Description">
                </div>
                <div class="step-action">
                    <button class="btn-step-delete"><i class="bi bi-trash-fill"></i></button>
                </div>
            </div>
        </div>
        <button class="btn-step-add"><i class="bi bi-plus"></i></button>
    </div>

    <hr>
    <input class="btn btn-primary" type="submit" value="submit"/>
</form>

{% block javascript %}
<script>
    $('body').on('click', "#testbtn", function(){
        jsonCopy();
    });
</script>
{% endblock javascript %}
