{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block contents %}#}
{#    <div class="container">#}
{#        {% include '_header.html' %}#}
{##}
{#        <div class="main">#}
{#            <div class="box">#}
                {% if model %}
                    <form method="post" enctype="multipart/form-data" id="exercise_form_edit" class="edit-{{ model.id }}"
                          data-link=
                            "{% url 'exercise:exercise_edit' model.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div id="steps-form" class="box-steps-wrap">
                            <div class="box-steps">
                                {% for key, values in model.steps.items %}
                                    <div class="box-step step-edit">
                                        <div class="form-group">
                                            <label for="">Step</label>
                                            <input class="form-control form-title" type="text" name="" value="{{ key }}">
                                            <input class="form-control form-value" type="text" name="" value="{{ values }}">
                                        </div>
                                        <div class="step-action">
                                            <button class="btn-step-delete"><i class="bi bi-trash-fill"></i></button>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <button class="btn-step-add"><i class="bi bi-plus"></i></button>
                        </div>
                        <hr>
                        <input type="submit" class="btn btn-primary" value="submit"/>
                    </form>

                {% endif %}
{#            </div>#}
            {% block javascript %}
                <script>
                    function jsonCopy_edit() {
                        let json_obj = {};
                        let i = 0;
                        $('.box-step.step-edit').each(function () {
                            json_obj[$(this).find('.form-title').val()] = $(this).find('.form-value').val();
                            i++;
                        })
                        $('.edit-{{ model.id }} #id_edit-steps').val(JSON.stringify(json_obj));
                    }

            $('body').on('submit', '#exercise_form_edit', function (e) {
                e.preventDefault();
                let var_id = $(this).attr('data-link');
                jsonCopy_edit();
                let form_data = new FormData(this);
                const formDataObj = {};
                form_data.forEach((value, key) => (formDataObj[key] = value));
                $.ajax({
                    type: 'POST',
                    url: var_id,
                    headers: { 'csrftoken' : '{{ csrf_token }}' },
                    data: form_data,
                    dataType: "json",
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert('success');
                        appendData();
                        editModal.hide();
                    },
                    {#error: function(jqXHR,textStatus,errorThrown)#}
                    {#    {console.log(textStatus)}#}
                    error: function (response) {
                        let error = response["responseJSON"];
                        alert(response.status + ' fail'); // the status code
                        console.log("error: "+ error);
                        {#alert(response.responseJSON.error); // the message#}
                        $.each(error, function (key, value) {
                            alert(key + "->" + value);
                            $("#id_edit-" + key).css({
                                borderColor: "red",
                            });
                        });
                    }
                })
            });
                </script>
            {% endblock javascript %}
{#{% endblock %}#}