{% load static %}
<nav class="navbar navbar-expand-lg"><a class="navbar-brand" href="#"><img src="{% static 'img/logo.png'%}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/exercise">Dashboard</a>
            </li>
            <li class="nav-item dropdown"><a class="nav-link active dropdown-toggle" href="#" role="button"
                                             data-bs-toggle="dropdown" aria-expanded="false">Exercise</a>
                <div class="dropdown-menu mega-menu">
                    <ul class="menu">
                        <li><a class="dropdown-item" href="exercise.html">Aerial</a></li>
                        <li><a class="dropdown-item" href="exercise.html">Gym classes</a></li>
                        <li><a class="dropdown-item" href="exercise.html">Yoga</a></li>
                        <li><a class="dropdown-item" href="exercise.html">Weight training</a></li>
                    </ul>
                    <ul class="menu">
                        <li><a class="dropdown-item" href="exercise.html">Cardio Barre</a></li>
                        <li><a class="dropdown-item" href="exercise.html">Postnatal</a></li>
                        <li><a class="dropdown-item" href="exercise.html">Fundamentals</a></li>
                        <li><a class="dropdown-item" href="exercise.html">Kids</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="plan.html">Weekly Plan</a>
            </li>
        </ul>
        <div class="d-flex" role="search">
            <div class="notification"><i class="bi bi-bell"></i>
                <div class="status-mark bg-danger"><span class="visually-hidden">text</span></div>
            </div>
            <div class="dropdown">
                <div class="user-account" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                        class="bi bi-person-circle"></i></div>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/members/logout/">Logout</a></li>
                    <li><a class="dropdown-item" href="#">User Settings</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-pane">
        <div class="header">
            <div class="title">Panel Head</div>
            <div class="close"><i class="bi bi-x-lg"></i></div>
        </div>
        <div class="alert alert-primary" role="alert">A simple primary alert&mdash;check it out!</div>
        <div class="alert alert-secondary" role="alert">A simple secondary alert&mdash;check it out!</div>
        <div class="alert alert-success" role="alert">A simple success alert&mdash;check it out!</div>
        <div class="alert alert-danger" role="alert">A simple danger alert&mdash;check it out!</div>
    </div>
</nav>
