{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <div class="container">
        {% include '_header.html' %}

        <div class="main">
            <div class="layout-2">
                <div id="exercise-list" class="box">
                    {% include '_exercise-list.html' %}.
                </div>
                <div class="box">
                    {% if form == "noaccess" %}
                        <h2>{{ group }}</h2>
                        <div>exercise.html
                            <a href="/accounts/login/">please login</a>
                        </div>
                    {% else %}
                        {% for obj in group %}
                            {{ obj }}
                        {% endfor %}
                        <div id="create-view"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% block javascript %}
        <script>
            $(document).ready(function () {
                 $('#create-view').load('/exercise/create/');
            });
            $('#id_create-duration').on('blur', function () {
                $(this).removeAttr("style");
            });

            function jsonCopy() {
                let json_obj = {};
                let i = 1;
                $('.box-step').each(function () {
                    json_obj[$(this).find('.form-title').val()] = $(this).find('.form-value').val();
                    i++;
                })
                $('#id_create-steps').val(JSON.stringify(json_obj))
            }

            $('body').on('submit', '#exercise_form_create', function (e) {
                e.preventDefault();
                jsonCopy();
                let form_data = new FormData(this);
                const formDataObj = {};
                form_data.forEach((value, key) => (formDataObj[key] = value));
                console.log(form_data);
                $.ajax({
                    type: 'POST',
                    url: "{% url 'exercise:exercise_create' %}",
                    data: form_data,
                    dataType: "json",
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert(response + 'success');
                        $("#exercise_form_create").trigger('reset');
                        alert('success');
                        appendData();
                    },
                    error: function (response) {
                        let error = response["responseJSON"];
                        alert(response.status + ' fail'); // the status code
                        console.log(error);
                        {#alert(response.responseJSON.error); // the message#}
                        $.each(error, function (key, value) {
                            alert(key + "->" + value);
                            $("#id_create-" + key).css({
                                borderColor: "red",
                            });
                        });
                    }
                })
            });

            $('body').on('submit', '#exercise_form_edit', function (e) {
                e.preventDefault();
                let var_id = $(this).attr('data-link');
                alert(var_id);
                jsonCopy();
                let form_data = new FormData(this);
                const formDataObj = {};
                form_data.forEach((value, key) => (formDataObj[key] = value));
                $.ajax({
                    type: 'POST',
                    url: var_id,
                    data: form_data,
                    dataType: "json",
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert(response + 'success');
                        $("#exercise_form_edit").trigger('reset');
                        alert('success');
                        appendData();
                        myModal.hide();
                    },
                    error: function (response) {
                        let error = response["responseJSON"];
                        alert(response.status + 'fail'); // the status code
                        console.log(error);
                        {#alert(response.responseJSON.error); // the message#}
                        $.each(error, function (key, value) {
                            alert(key + "->" + value);
                            $("#id_edit-" + key).css({
                                borderColor: "red",
                            });
                        });
                    }
                })
            });

            const deleteExercise = function (pk) {
                alert("/exercise/delete/" + pk);
                $.ajax({
                    type: 'GET',
                    url: "/exercise/delete/" + pk,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        alert('success')
                        appendData()
                    },
                    error: function (response) {
                        alert('fail');
                    }
                })
            }

            function appendData() {
                //console.log(exercise)
                $('#exercise-list').load('/exercise/list/');
            }
        </script>
    {% endblock javascript %}
{% endblock %}

