{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <div class="container">
        {% include '_header.html' %}
        <div class="main">
            <div class="action-bar">
                <a href="{% url 'members:member_create' %}" class="btn btn-primary">Create</a>
            </div>
            <div class="layout-1">
                <div class="box">
                    {% if model %}
                         <div class="list-grid-wrap">
                        {% for item in model %}
                            <div class="list-grid">
                                <div class="list-img">
                                    {% if item.avatar %}
                                    <img src="/media/{{ item.avatar }}"/>
                                    {% endif %}
                                </div>
                                <div>
                                    {{ item.id }}
                                    <div class="name">{{ item.user }}</div>
                                    <div class="detail">{{ item.exercise_join.name }}</div>
                                </div>
                                <div class="v-center">test</div>
                                <div class="list-action">
                                    <a href="/exercise/detail/{{ item.id }}" class="btn btn-primary btn-circle"><i class="bi
                                    bi-eye"></i></a>
                                    {#                        <a href="/exercise/edit/{{ item.id }}" class="btn btn-primary btn-circle"><i class="bi #}
                                    {#                        bi-pencil"></i></a>#}
                                    <a href="#" data-id="{{ item.id }}" data-name="{{ item.name }}" class="btn btn-primary
                                    btn-circle" onclick="event.preventDefault(); editAction(this)"><i class="bi
                                    bi-pencil"></i></a>
                                    {#                        <a class="btn btn-danger btn-circle" href="/exercise/delete/{{ item.id }}/"><i#}
                                    {#                                class="bi#}
                                    {#                        bi-trash"></i></a>#}
                                    <button class="btn btn-danger btn-circle btn-delete" data-id="{{ item.id }}"><i class="bi
                                    bi-trash"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                        <h5>No members yet</h5>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script>

        </script>
    {% endblock javascript %}
{% endblock %}




