.btn{
  padding: 10px 25px;
  &.btn-danger{
    color: #ffffff;
  }
}


.btn-circle {
  $height: 30px;
  width: $height;
  height: $height;
  border-radius: $height;
  padding: 0;
  text-align: center;
  font-size: 16px;
  display: grid;
  place-content: center;
}