label{
  font-size: .9rem;
  opacity: .8;
}
.form-group {
  margin-bottom: 10px;
}
.form-control,
.form-select{
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  &:focus{
    box-shadow: none;
  }  
}
.form-select{
  option{
    min-height: 50px;
  }
}
.form-switch{
  label{
    margin-left: 10px;
    line-height: 30px;
  }
  .form-check-input{
    height: 1.5em;
    width: 2.5em;
  }
}

textarea{
  height: 100px;
}


.modal-content{
  --bs-modal-bg: #ffffff;
}
.modal-body{
  max-height: 70vh;
  overflow-y: auto;
}

.form-fill{
  $height: 20px;
  display: grid;
  grid-template-columns: 1fr $height;
  gap: 5px;
  align-items: center;
  .help-text-icon{
  height: $height;
  width: $height;
  border-radius: $height;
  display: grid;
  place-content: center;
  background: #444;
  color: #fff;
  font-size: 18px;
}
}
